// ======================================== IMPORTS ======================================== //
@import '_mixins';
@import '_placeholders';

// ======================================== VARIABLES ======================================== //
$white: #FEFEFD;
$blue: #05305B;
$red: #D41F4A;

// ======================================== GÉNÉRAL ======================================== //
*,
::before,
::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: $white;
    border: 0;
}

button {
    border: 0;
    color: $white;
    background: $red;
    border-radius: 15px;
    height: 25px;
    width: 80px;

}

.boutonAjout {
    float: right;
    margin: 10px;
    height: 50px !important;
    width: 150px !important;
    align-items: center;
}

.boutonSuppr {
    margin: 10px;
    height: 50px !important;
    width: 70px !important;
    align-items: center;
}

.boutonModif {
    margin: 10px;
    height: 50px !important;
    width: 70px !important;
    align-items: center;
}

// ======================================== NAVBAR ======================================== //
nav {
    width: 100%;
    height: 120px;
    padding: 0 50px;
    @extend %flex-between;
    background: $blue;

    img {
        width: 70px
    }

    ul {
        @extend %flex;

        li {
            margin: 0 20px;

            a {
                @include red-button(15px 20px)
            }
        }
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    button {
        @include red-button(15px 20px)
    }

    div {
        @extend %flex;

        button {
            margin-left: 10px;
        }
    }
}

// ======================================== HEADER ======================================== //
header {
    width: 80%;
    height: 100px;
    margin: 30px auto;
    background: $blue;
    border-radius: 15px;
    @extend %flex-center;

    h1 {
        text-transform: uppercase;
        color: $red;
    }
}

// ======================================== MAIN ======================================== //
main {
    min-height: 100vh;

    .grid {
        text-align: center;
        display: grid;
        // grid-template-columns: repeat(2, calc(50% - 10px));;
        gap: 20px;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, calc(100% - 10px));
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, calc(50% - 10px));
        }

        .grid_item {
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: 30px;
            overflow: hidden;
            cursor: pointer;

            h2 {
                width: 100%;
                height: 100%;
                padding: 40px;
                @extend %flex-center;
                text-transform: uppercase;
                font-size: 30px;
                backdrop-filter: blur(5px);
                background-color: rgba($color: #000000, $alpha: 0.2);
                color: $white;

            }


            img {
                z-index: -10;
                width: 130%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out;

            }

            .image_accueil::after {
                width: 100%;
            }

            &:hover img {
                width: 125%;

                .text_item {
                    display: none;
                }
            }

        }

        a {
            text-decoration: none
        }
    }
}

.example-wrapper {  margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
// ======================================== SECTION ======================================== //
section {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

// ======================================== FOOTER ======================================== //
footer {
    width: 100%;
    height: 120px;
    @extend %flex-center;
    background: $blue;

    p {
        margin: 0 20px;
        color: $white;
    }
}

// ======================================== PASTILLES ===================================== //
.pastille {
    padding: 7px;
    border-radius: 17px/50%;
    background-color: $red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
}

.displayPastille {
    position: relative;
    bottom: 50px;
    text-align: right;
    width: fit-content;
    margin-left: auto;
    margin-right: 25px;
}

// ======================================== DIVIDER ===================================== //
hr.rounded {
    border-top: 8px solid #05305b;
    border-radius: 5px;
}

// ======================================== DESCRIPTION ======================================== //
.description_accueil {
    width: 80%;
    margin: auto;

    p {
        width: 100%;
        @extend %flex-center;
        margin-bottom: 10px;
    }
}

// ======================================== TABLEAU ======================================== //
.table {
    td {
        text-align: center;
    }

    td span {
        display: inline-block;
    }

    th {
        padding: 10px;
    }
}

// ======================================== CELLULE INFORMATION ======================================== //
.information {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// ======================================== CONNEXION ======================================== //

.center {
    text-align: -moz-center !important;
    text-align: center !important;
}

form {
    display: block;
    margin: auto;
    padding: 15px;
    max-width: 600px;
    border: solid gray 1px;
    border-radius: 15px;      
}

.alignementVertical {
    display: flex;
    align-items: center;
}
// ======================================== MES ARTICLES ======================================== //
// ======================= ICON ======================= //

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 24
}

// ======================================== AJOUT ARTICLES ======================================== //
textarea {
    width: 300px;
    height: 200px;
    resize: none;
}